{% extends 'base.html' %}
{% load static %}
{% block content %}


<section class="section-content padding-y bg">
    <div class="container">
    
    <!-- ============================ COMPONENT 1 ================================= -->
    ] 
       <h4 class="text-center mb-10"> review your order</h4>

    <div class="row">
    <aside class="col-lg-8">
    <div class="card">
        <h5 class="card-header">Billing address</h5>
        <div class="card-body">
            <p class="card-text mb-0">{{order.full_name}}</p>
            <p class="card-text mb-0">{{order.full_address}}</p>
            <p class="card-text mb-0">{{order.city}}, {{order.state}}, {{order.country}}</p>
            <p class="card-text mb-0">{{order.email}}</p>
            <p class="card-text mb-0">{{order.phone}}</p>
            {%if order.order_note %}
                <b>Order Note:</b> {{order.order_note}}
            {%endif%}
        </div>
    </div> <!-- card.// -->
        <div class="card">
        <h5 class="card-header">payment method</h5>
        <div class="card-body">
            <p class="card-text">Paypal</p>
        </div>
    </div> <!-- card.// -->    <div class="card">
        <h5 class="card-header">review products</h5>
        <div class="card-body">
                    <table class="table table-borderless table-shopping-cart">
                        <thead class="text-muted">
                            <tr class="small text-uppercase">
                                <th scope="col">Product</th>
                                <th scope="col" width="120">Quantity</th>
                                <th scope="col" width="120">Price</th>
                                <th scope="col" class="text-right" width="200"> </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in cart_items %}
                            <tr>
                                <td>
                                    <figure class="itemside align-items-center">
                                        <div class="aside"><img src="{{ item.product.image.url }}" class="img-sm"></div>
                                        <figcaption class="info">
                                            <a href="{{item.product.get_url}}" class="title text-dark">{{ item.product.product_name}}</a> 
                                            <p class="text-muted small">
                                                {% if item.variations.all %}
                                                    {% for cartitem in item.variations.all %}
                                                        {{ cartitem.variation_category |capfirst }}: {{ cartitem.variation_value |capfirst }}<br>
                                                    {% endfor %}
                                                {% else %}
                                                    No variations
                                                {% endif %}
                                            </p>
                                        </figcaption>
                                    </figure>
                                </td>
                                <td> 
                                    <label for="">{{ quantity }}</label>
                                </td>
                                <td> 
                                    <div class="price-wrap"> 
                                        <var class="price">${{item.sub_total }}</var> 
                                        <small class="text-muted"> ${{item.product.price}} each </small> 
                                    </div>
                                </td>
                               
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                        </div>
    </div> <!-- card.// -->
    
        </aside> <!-- col.// -->
        <aside class="col-lg-4">
    
            <div class="card">
            <div class="card-body">
                <dl class="dlist-align">
                  <dt>Total price:</dt>
                  <dd class="text-right">${{total}}</dd>
                </dl>
                <dl class="dlist-align">
                  <dt>Tax:</dt>
                  <dd class="text-right"> ${{tax}}</dd>
                </dl>
                <dl class="dlist-align">
                  <dt>Total:</dt>
                  <dd class="text-right text-dark b"><strong>${{grand_total}}</strong></dd>
                </dl>
                <hr>
                <p class="text-center mb-3">
                    <img src="{% static './images/misc/payments.png' %}" height="26">
                </p>
                <div id="paypal-button-container">

                </div>

            </div> <!-- card-body.// -->
            </div> <!-- card.// -->
    
    </aside> <!-- col.// -->
    
    
    </div> <!-- row.// -->
    <!-- ============================ COMPONENT 1 END .// ================================= -->
    
    </div> <!-- container .//  -->
    </section>
    <!-- ============================ COMPONENT 1 END .// ================================= -->
    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Check if this cookie string begins with the name we want
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }


        var url = "{% url 'payments' %}";
        var csrfToken = getCookie('csrftoken');
        var orderID = {{order.order_number}}; // Assuming you have the order ID available in your context
        var payment_method = 'paypal'; // Set the payment method to PayPal
        var redirect_url = "{% url 'order_complete' %}";

        
        paypal.Buttons({

            style: {
                color: 'blue',
                shape: 'pill',
                label: 'pay',
                height: 40

            },

            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: '{{ grand_total }}'
                        }
                    }]
                });
            },
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {

                    console.log(details);
                    sendData();

                    function sendData() {
                        fetch(url,{
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': csrfToken,
                            },
                            body: JSON.stringify({
                                orderID: orderId,
                                transID: details.id,
                                payment_method: payment_method,
                                status: details.status,
                                ;
                        }),
                        .then((resposnse) => response.json())
                        .then((data) => console.log(data)); 
                        
                            windows.location.href = redirect_url + '?order_number='+data.order_number+'&payment_id='+data.payment_id;
                    }
                });
            }
        }).render('#paypal-button-container');
    </script>

{% endblock %}
